<span *ngIf="!isScreenLarge()">
    <div class="entryScreen" style="margin:10px; padding: 10px;">
        <span (click)="showNav()"> <i class="fa fas fa-bars"></i> </span>
        <span *ngIf="smallNav">
            <div  style="background-color: rgb(35, 34, 46); width: 160px; height: 600px;position: absolute;">
                <app-common></app-common>
            </div>
        </span>
        <div class="education" style="text-align: center;padding: 16px; ">
            <h1 style="padding: 16px;">EDUCATION</h1>
        </div>
        <div style="margin-right:10px;background-color: black;height: 432px;">
            <br/>
            <div class="mastersmall">
                <span style="font-size: 12px;"><b>NORTH CAROLINA STATE UNIVERSITY</b></span>&nbsp;&nbsp;
                <span style="font-size: 11px;">Master of Computer Science</span><span
                 style="font-size: 11px;">&nbsp;&nbsp;4.00 / 4.0</span>
            </div>
            <div class="bachelorssmall">
                <span style="font-size: 12px;"><b>SIR M VISVESVARAYA INSTITUTE OF TECHNOLOGY</b></span>&nbsp;&nbsp;
                <span style="font-size: 11px;">B.E in Telecommunication Engineering</span><span
                    style="font-size: 11px;">&nbsp;&nbsp;81%</span>
            </div>
            <div style="margin-left: 2%">
                <div class="coursessmall">Design & Analysis of Algorithm</div>
                <div class="coursessmall">Automated Learning and Data Analysis</div>
                <div class="coursessmall">Software Engineering</div>
                <div class="coursessmall">Database Management System</div>
                <div class="coursessmall">Deep Neural Network</div>
                <div class="coursessmall">Natural Language Processing</div>
                <div class="coursessmall">Statistics for Engineers</div>
                <div class="coursessmall">DevOps Cloud Computing</div>
                <div class="coursessmall"> Algorithms for Business Intelligence</div>
            </div>
        </div>
    </div>
</span>

<span *ngIf="isScreenLarge()">
<div class="split left">
    <app-common></app-common>
</div>

<div class="splitright right">
    <div class="bg">
        <div class="education" style="text-align: center;padding: 30px;">
            <h1>EDUCATION</h1>
        </div>
        <div class="master">
            <span style="font-size: 16px;"><b>NORTH CAROLINA STATE UNIVERSITY</b></span>&nbsp;&nbsp;<span
                style="font-size: 14px;">Raleigh, NC, USA</span>
            <span style="float: right;">
                [August 2019 - May 2021]
            </span> <br />
            <span style="font-size: 16px;">Master of Computer Science</span><span
                style="font-size: 14px;">&nbsp;&nbsp;3.99 / 4.0</span>
        </div>
        <div class="bachelors">
            <span style="font-size: 16px;"><b>SIR M VISVESVARAYA INSTITUTE OF TECHNOLOGY</b></span>&nbsp;&nbsp;<span
                style="font-size: 14px;">Bangalore, KA, INDIA</span>
            <span style="float: right;">
                [July 2011 - June 2015]
            </span> <br />
            <span style="font-size: 16px;">B.E in Telecommunication Engineering</span><span
                style="font-size: 14px;">&nbsp;&nbsp;81%</span>
        </div>
        <div>
            <h3
                style="font-family: Impact, Charcoal, sans-serif;margin-left: 35%; color: rgb(15, 15, 15);text-align: center;background-color: rgba(141, 138, 138, 0.637);margin-right: 35%; padding: 7px;border-radius: 25px;">
                Relevant Coursework</h3>
                <br/>
            <div>
                <div class="courses">Design & Analysis of Algorithm</div>
                <div class="courses">Automated Learning and Data Analysis</div>
                <div class="courses">Software Engineering</div>
                <div class="courses">Database Management System</div>
                <div class="courses">Deep Neural Network</div>
                <div class="courses">Natural Language Processing</div>
                <div class="courses">Statistics for Engineers</div>
                <div class="courses">DevOps Cloud Computing</div>
                <div class="courses"> Algorithms for Business Intelligence</div>
            </div>
        </div>
    </div>
</div>
</span>