/* Split the screen in half */
.split {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    /* padding-top: 5px; */
  }
  .splitright {
    height: 100%;
    width: 75%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    /* padding-top: 20px; */
  }
  /* Control the left side */
  .left {
    left: 0;
    background-color:#222831;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color:black;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  /* .centered img {
    width: 140px;
    border-radius: 50%;
  } */
  .textdisplay {
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .tab {
    margin: 5px;
    padding: 4px 5px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    background-color: #28df99;
    border-color:#28df99;
    color: white;
}

.info {
    width: 75%;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    padding-left: 25px;
}

.extremeright {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

.portrait {
    height: 85%;
    width: 85%;
    margin: 6px;
    position: relative;
    border-radius: 50%;
}
  #mainContainer {
    position: relative;
    height: 100%;
    width: 100%;
  }

  #topContainer {
    margin: 5px;
    padding: 4px 5px;
    display: inline-block;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    font-size: 15px;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 100px;
    height: 40%;
    width: 100%;
  }
  #bottomContainer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 57%;
    width: 100%;
    margin: 20px;
  }
  .columnl {
      border-radius: 25px;
    float: left;
    width: 70%;
    padding: 10px;
    height: 100%;
  }
  .columnr {
    float: left;
    width: 30%;
    padding: 10px;
    height: 100%; /* Should be removed. Only for demonstration */
  }
  .bg {
    /* background-image: url("../../assets/ml.jpg"); */
    height: 100%;
      background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg2 {
    /* background-image: url("../../assets/shades.jpg"); */
    height: 100%;
    opacity: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .expDisp1 {
    width: 28%;
    height: 46%;
    border-radius: 25px;
    margin: 12px;
    text-align: center;
    float: left;
    padding: 10px;
    background-image: url("../../assets/machine_learning.png");
    /* background-image: linear-gradient(to bottom, rgba(40, 28, 41, 0.8), rgb(44, 43, 44)); */
  }

  .expDisp2 {
    width: 28%;
    height: 46%;
    border-radius: 25px;
    margin: 12px;
    text-align: center;
    float: left;
    padding: 10px;
    background-image: linear-gradient(to bottom, rgba(192, 192, 192, 0.4), rgb(32, 30, 30));
  }

  .expDisp3 {
    width: 28%;
    height: 46%;
    border-radius: 25px;
    margin: 12px;
    text-align: center;
    float: left;
    padding: 10px;
    background-image: linear-gradient(to bottom, rgba(0, 255, 0, 0.6), rgba(0, 255, 0,1));
  }

  .expDisp4 {
    width: 28%;
    height: 46%;
    border-radius: 25px;
    text-align: center;
    margin: 12px;
    padding: 10px;
    float: left;
    background-image: linear-gradient(to bottom, rgba(204, 51, 255, 0.5), rgba(204, 51, 255,1));
  }
  .expDisp5 {
    width: 28%;
    height: 46%;
    border-radius: 25px;
    margin: 12px;
    float: left;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(255, 204, 0, 0.4), rgba(255, 204, 0,1));
  }
  .expDisp6 {
    width: 28%;
    height: 46%;
    border-radius: 25px;
    margin: 12px;
    float: left;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(0, 204, 255, 0.8), rgba(0, 204, 255,1));
  }
  .infodis {
    font-size: 16px;
  }

  .courses {
    margin: 8px ;
    padding: 4px;
    margin-left: 20px;
    /* border-radius: 25px;  */
    width: 45%; 
    height: 168px;
    text-align: center;
    float: left;
    word-wrap: break-word;
    /* color: white; */
    background-image: url("../../assets/machine_learning.png");
    background-size: 100% 100%;
    /* background-image: linear-gradient(to bottom, rgba(14, 13, 14, 0.8), rgb(63, 1, 63)); */
  }

  .ml {
    background-image: url("../../assets/machine_learning.png");
    background-size: 100% 100%;
    margin-bottom: 20px;
  }

  .entryScreen {
    width: 100%;
    background-size: cover;
    margin: 10px;
    padding-right: 10px;
    background-image: url("../../assets/machine_learning.png");
  }

  .courses2 {
    margin: 8px ;
    padding-bottom: 16px;
    border-radius: 25px; 
    width: 40%; 
    height: 168px;
    text-align: center;
    float: left;
    word-wrap: break-word;
    color: white;
    background-image: linear-gradient(to bottom, rgba(51, 49, 51, 0.8), rgb(100, 97, 100));
  }

  .coursessmall {
    margin: 4px ;
    padding: 6px;
    width: 46%; 
    height: 134px;
    text-align: center;
    float: left;
    word-wrap: break-word;
    background-image: url("../../assets/machine_learning.png");
    background-size: 100% 400%;
  }