/* Split the screen in half */
.split {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    /* padding-top: 5px; */
  }
  .splitright {
    height: 100%;
    width: 75%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    /* padding-top: 20px; */
  }
  /* Control the left side */
  .left {
    left: 0;
    background-color:#222831;
    
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color:#162447;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  /* .centered img {
    width: 140px;
    border-radius: 50%;
  } */
  .textdisplay {
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .textdisplaysmall {
    color: white;
    font-size: 14px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  .tab {
    margin: 5px;
    padding: 4px 5px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    background-color: #28df99;
    border-color:#28df99;
    color: white;
}