<span *ngIf="!isScreenLarge()">
    <div>
        <h4 style="color: white; font-family:Georgia, 'Times New Roman', Times, serif; padding-top: 16px;font-size: 16px; padding: 6px;text-align: center;">Amitha Raghava Raju</h4>
        <img src="../assets/myself.jpg" alt="Amitha" style="width: 140px; border-radius: 50%; padding-left: 30px;">
        <br>
        <div style="margin: 0px; padding: 10px;margin-left: 10px;">
        <small style="color: white; font-family:Georgia, 'Times New Roman', Times, serif;font-size: 10px;">
            Hi, my name is Amitha Raghava Raju
            and I'm a Specialist Software Engineer. Welcome to my personal website!</small></div>
        <span (click)="redirectGit()"><i
                style="background-color: aquamarine; border-radius: 50%; width: 30px;height: 30px; margin: 8px;"
                class="fa fa-github fa-2x" aria-hidden="true"></i></span>
        <span (click)="redirectLinkedIn()"><i
                style="background-color: aquamarine; border-radius: 50%; width: 30px;height: 30px; margin: 8px;"
                class="fa fa-linkedin fa-2x" aria-hidden="true"></i></span>
        <span (click)="redirectFacebook()"><i
                style="background-color: aquamarine; border-radius: 50%; width: 30px;height: 30px; margin: 8px;"
                class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></span>
        <hr style="border: 0.5px solid aquamarine;">
        <div style="padding-left: 30px;">
            <p class="textdisplaysmall" [routerLink]="['/aboutme']"><i class="fa fa-user"></i>&nbsp;About Me</p>
            <p class="textdisplaysmall" [routerLink]="['/professional']"><i class="fa fa-laptop"></i>&nbsp;Portfolio</p>
            <p class="textdisplaysmall" [routerLink]="['/resume']"><i class="fa fa-file" aria-hidden="true"></i>&nbsp;Resume
            </p>
        </div>
    </div>
</span>
<span *ngIf="isScreenLarge()">
<div class="centered">
    <h4 style="color: white; font-family:Georgia, 'Times New Roman', Times, serif; padding-top: 16px;">Amitha
        Raghava
        Raju</h4>
    <img src="../assets/myself.jpg" alt="Amitha" style="width: 140px; border-radius: 50%;">
    <br>
    <small style="color: white; font-family:Georgia, 'Times New Roman', Times, serif;">
        Hi, my name is Amitha Raghava Raju
        and I'm a Specialist Software Engineer. Welcome to my personal website!</small><br>
    <span (click)="redirectGit()"><i
            style="background-color: aquamarine; border-radius: 50%; width: 35px;height: 32px; margin: 8px;"
            class="fa fa-github fa-2x" aria-hidden="true"></i></span>
    <span (click)="redirectLinkedIn()"><i
            style="background-color: aquamarine; border-radius: 50%; width: 35px;height: 32px; margin: 8px;"
            class="fa fa-linkedin fa-2x" aria-hidden="true"></i></span>
    <span (click)="redirectFacebook()"><i
            style="background-color: aquamarine; border-radius: 50%; width: 35px;height: 32px; margin: 8px;"
            class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></span>
    <hr style="border: 0.5px solid aquamarine;">
    <div>
        <p class="textdisplay" [routerLink]="['/aboutme']"><i class="fa fa-user"></i>&nbsp;About Me</p>
        <p class="textdisplay" [routerLink]="['/professional']"><i class="fa fa-laptop"></i>&nbsp;Portfolio</p>
        <p class="textdisplay" [routerLink]="['/education']"><i class="fa fa-book" aria-hidden="true"></i>&nbsp;Education</p>
        <p class="textdisplay" [routerLink]="['/machinelearning']"><i class="fa fa-universal-access"></i>&nbsp;Machine Learning</p>
        <p class="textdisplay" [routerLink]="['/publications']"><i class="fa fa-newspaper-o"></i>&nbsp;Publications</p>
        <p class="textdisplay" [routerLink]="['/resume']"><i class="fa fa-file" aria-hidden="true"></i>&nbsp;Resume
        </p>
    </div>
</div>
</span>