<div class="split left">
    <app-common></app-common>
</div>

<div class="splitright right">
    <div class="bg">
        <div id="mainContainer">
            <div id="topContainer">
                <!-- <div class="columnl">
                    <h2>Amitha Raghava Raju</h2>
                    <p>Specialist Software Engineer</p>
                </div> -->
                <!-- <div class="columnr">
                    <div>
                        <img src="../../assets/thumb.jpg" alt="Amitha" class="portrait">
                    </div>
                </div> -->
            </div>
            <br />
            <div style="text-align:center;left: 50%;">
             <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" style="margin-left: 30%;margin-right: 15%;color: red;">
                 <div class="form-group" id="contactDetails">
                    <br style="clear:both">
                    <h3 style="margin-bottom: 25px;">Contact Form</h3>
                     <div class="form-group">
                         <input type="text" class="form-control" formControlName="name" placeholder="Name*">
                         <span class="text-danger" *ngIf="contactForm.get('name').hasError('required') && submitted">Name is Required</span>
                     </div>
                     <div class="form-group">
                        <input type="email" class="form-control" formControlName="email" placeholder="Email*">
                        <span class="text-danger" *ngIf="contactForm.get('email').hasError('required') && submitted">Email is Required</span>
                        <span class="text-danger" *ngIf="contactForm.get('email').hasError('email') && submitted">Email is not in valid format</span>
                    </div>
                 </div>
                 <div class="form-group">
                     <textarea class="form-control" type="text" rows="8" cols="8" formControlName="message" placeholder="Send Message *"></textarea>
                     <span class="text-danger" *ngIf="contactForm.get('message').hasError('required') && submitted">Message is Required</span>
                 </div>
                 <div class="form-group m-2">
                     <button class="button shadow" id="send" class="btn btn-primary pull-right">Send Message</button>
                 </div>
             </form>
            </div>
<br/>
            <div id="bottomContainer">
                <div class="expDisp1">
                    <h4>Address</h4>
                    <hr>
                    <p style="font-size: 1.5vw;">
                        Apt No 102, 2512, Avery Close, Avent Ferry Road, Raleigh, NC - 27606
                    </p>
                </div>
                <div class="expDisp2">
                    <h4>Details</h4>
                    <hr>
                    <p style="font-size: 1.5vw">
                        <i class="fa fa-phone" aria-hidden="true"></i> &nbsp; 919-5279528<br />
                        <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; amitha353@gmail.com <br />
                        <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; araghav4@ncsu.edu <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>