<div class="split left">
    <div class="bg2"></div>
    <div class="centered">
        <h4 style="color: white; font-family:Georgia, 'Times New Roman', Times, serif; padding-top: 16px;">Amitha
            Raghava
            Raju</h4>
        <img src="../assets/myself.jpg" alt="Amitha" style="width: 140px; border-radius: 50%;">
        <br>
        <small style="color: white; font-family:Georgia, 'Times New Roman', Times, serif;">
            Hi, my name is Amitha Raghava Raju
            and I'm a Specialist Software Engineer. Welcome to my personal website!</small><br>
        <span (click)="redirectGit()"><i
                style="background-color: aquamarine; border-radius: 50%; width: 35px;height: 32px; margin: 8px;"
                class="fa fa-github fa-2x" aria-hidden="true"></i></span>
        <span (click)="redirectLinkedIn()"><i
                style="background-color: aquamarine; border-radius: 50%; width: 35px;height: 32px; margin: 8px;"
                class="fa fa-linkedin fa-2x" aria-hidden="true"></i></span>
        <span (click)="redirectFacebook()"><i
                style="background-color: aquamarine; border-radius: 50%; width: 35px;height: 32px; margin: 8px;"
                class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></span>
        <hr style="border: 0.5px solid aquamarine;">
        <div>
            <p class="textdisplay" [routerLink]="['/aboutme']"><i class="fa fa-user"></i>&nbsp;About Me</p>
            <p class="textdisplay" [routerLink]="['/professional']"><i class="fa fa-laptop"></i>&nbsp;Portfolio</p>
            <p class="textdisplay" [routerLink]="['/resume']"><i class="fa fa-file" aria-hidden="true"></i>&nbsp;Resume
            </p>
            <p class="textdisplay" [routerLink]="['/contact']"><i class="fa fa-address-book"></i> &nbsp;Contact</p>
        </div>
        <button class="tab" [routerLink]="['/contact']">Hire Me</button>
    </div>
</div>

<div class="splitright right">
    <div class="bg">
        <div id="mainContainer">
            <div id="topContainer">
                <div class="columnl">
                    <h2>Amitha Raghava Raju</h2>
                    <p>Specialist Software Engineer</p>
                    <div
                        style="background-color: black;opacity: 70%;text-align: center; border-radius: 25px; font-size: 1.8vw;">
                        <small><b>I'm a software engineer, with 3.5+ years of experience, specialised in frontend and
                                backend
                                development for
                                complex scalable web application. I have built numerous websites and corporate
                                softwares. I am also
                                passionate
                                about Machine Learning, Artificial Intelligence, Block Chain and Statistics. Do checkout
                                my project
                                Portfolio and
                                online resume.</b></small>
                    </div>
                </div>
                <div class="columnr">
                    <div>
                        <img src="../../assets/thumb.jpg" alt="Amitha" class="portrait">
                    </div>
                </div>
            </div>
            <br />
            <div id="bottomContainer">
                <div class="expDisp1">
                    <h4>Address</h4>
                    <hr>
                    <p style="font-size: 1.5vw;">
                        Apt No 102, 2512, Avery Close, Avent Ferry Road, Raleigh, NC - 27606
                    </p>
                </div>
                <div class="expDisp2">
                    <h4>Details</h4>
                    <hr>
                    <p style="font-size: 1.5vw">
                        <i class="fa fa-phone" aria-hidden="true"></i> &nbsp; 919-5279528<br />
                        <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; amitha353@gmail.com <br />
                        <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; araghav4@ncsu.edu <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>