/* Split the screen in half */
.split {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    /* padding-top: 5px; */
  }
  .splitright {
    height: 100%;
    width: 75%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    /* padding-top: 20px; */
  }
  /* Control the left side */
  .left {
    left: 0;
    background-color:#222831;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color:black;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  /* .centered img {
    width: 140px;
    border-radius: 50%;
  } */
  .textdisplay {
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .tab {
    margin: 5px;
    padding: 4px 5px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    background-color: #28df99;
    border-color:#28df99;
    color: white;
}

.info {
    width: 75%;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    padding-left: 25px;
}

.extremeright {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

.portrait {
    height: 360px;
    width: 85%;
    margin: 6px;
    position: relative;
    border-radius: 50%;
}
  #mainContainer {
    position: relative;
    height: 100%;
    width: 100%;
  }

  #topContainer {
    margin: 5px;
    padding: 4px 5px;
    display: inline-block;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    font-size: 15px;
    border-radius: 5px;
    /* position: absolute;
     top: 0px;
    left: 0px;
    bottom: 100px; */
      height: 2%; 
    width: 50%;   
  }
  #bottomContainer {
    /* position: absolute; */
    bottom: 10px;
    left: 0px;
    height: 40%;
    width: 100%;
    margin: 20px;
  }
  .columnl {
    border-radius: 25px;
    float: left;
    width: 70%;
    padding: 10px;
    height: 100%;
  }
  .columnr {
    float: left;
    width: 30%;
    padding: 10px;
    height: 60%; /* Should be removed. Only for demonstration */
  }
  .bg {
    /* background-image: url("../../assets/contact_me.jpg"); */
    height: 100%;
      background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg2 {
    background-image: url("../../assets/shades.jpg");
    height: 100%;
    opacity: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .infodis {
    font-size: 16px;
  }
  .expDisp1 {
    width: 30%;
    height: 60%;
    border-radius: 25px;
    margin: 12px;
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    float: left;
    padding: 6px;
    color: white;
    background-color: rgba(123, 16, 165, 0.89);
  }
  .expDisp2 {
    width: 40%;
    height: 60%;
    border-radius: 25px;
    margin: 12px;
    text-align: center;
    float: left;
    padding: 10px;
    color: white;
    background-color: rgba(36, 50, 180, 0.842);
    /* background-image: linear-gradient(to bottom, rgba(247, 0, 255, 0.8), rgba(247, 0, 255,1)); */
  }