<span *ngIf="!isScreenLarge()">
  <div class="entryScreen" style="margin:10px; padding: 10px;">
    <span (click)="showNav()"> <i class="fa fas fa-bars"></i> </span>
        <span *ngIf="smallNav">
            <div  style="background-color: rgb(35, 34, 46); width: 160px; height: 600px;position: absolute;">
                <app-common></app-common>
            </div>
        </span>
        <div
      style="text-align: center;padding: 25px;background-image: linear-gradient(to right, rgba(255, 0, 0, 0.8), rgba(255, 0, 0,1));">
      <h1>Resume</h1>
    </div>
        <div *ngIf="!smallNav" class="container">
          <pdf-viewer src="../../assets/Amitha_Resume_2021.pdf"
                      [original-size]="false"
          ></pdf-viewer>
        </div>
</div>
</span>
<span *ngIf="isScreenLarge()">
<div class="split left">
  <app-common></app-common>
</div>

<div class="splitright right">
  <div class="bg">
    <div
      style="text-align: center;padding: 25px;background-image: linear-gradient(to right, rgba(255, 0, 0, 0.8), rgba(255, 0, 0,1));">
      <h1>Resume</h1>
    </div>
    <pdf-viewer src="../../assets/Amitha_Resume_2021.pdf"
                      [original-size]="false"
          ></pdf-viewer>
  </div>
</div>
</span>