/* Split the screen in half */
.split {
    height: 100%;
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    /* padding-top: 5px; */
  }
  .splitright {
    height: 100%;
    width: 75%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    /* padding-top: 20px; */
  }
  /* Control the left side */
  .left {
    left: 0;
    background-color:#222831;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    /* background-color:#c11cd6; */
    background-color: black;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  /* .centered img {
    width: 140px;
    border-radius: 50%;
  } */
  .textdisplay {
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .tab {
    margin: 5px;
    padding: 4px 5px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    background-color: #28df99;
    border-color:#28df99;
    color: white;
}

.info {
    width: 75%;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;
    padding-left: 25px;
}

.extremeright {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

.portrait {
    height: 85%;
    width: 85%;
    margin: 6px;
    position: relative;
    border-radius: 50%;
}
  #mainContainer {
    position: relative;
    height: 100%;
    width: 100%;
  }

  #topContainer {
    margin: 5px;
    padding: 4px 5px;
    display: inline-block;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    font-size: 15px;
    border-radius: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 100px;
    height: 40%;
    width: 100%;
  }
  #bottomContainer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 57%;
    width: 100%;
    margin: 20px;
  }
  .columnl {
      border-radius: 25px;
    float: left;
    width: 60%;
    padding: 10px;
    height: 100%;
  }
  .columnr {
    float: right;
    width: 200px;
    margin-top: 20px;
    padding: 10px;
    height: 240px; /* Should be removed. Only for demonstration */
  }
  .bg {
    /* background-image: url("../../assets/info_page2.jpg"); */
    /* background-image: url("../../assets/contact_me.jpg"); */
    height: 100%;
      background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg2 {
    /* background-image: url("../../assets/shades.jpg"); */
    height: 100%;
    opacity: 40%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .expDisp1 {
    width: 28%;
    height: 46%;
    border-radius: 25px;
    margin: 12px;
    text-align: center;
    float: left;
    padding: 10px;
    color: black;
    background-image: url(../../assets/main.png);
    background-size: 100% 100%;
  }

  .expDisp2 {
    width: 22%;
    height: 46%;
    border-radius: 25px;
    margin: 12px;
    text-align: center;
    float: left;
    padding: 10px;
    color: black;
    background-image: url(../../assets/main.png);
    background-size: 100% 100%;
  }

  .expDisp3 {
    width: 28%;
    height: 46%;
    border-radius: 25px;
    margin: 12px;
    text-align: center;
    float: left;
    padding: 10px;
    color: black;
    background-image: url(../../assets/main.png);
    background-size: 100% 100%;
  }

  .expDisp4 {
    width: 28%;
    height: 46%;
    border-radius: 25px;
    text-align: center;
    margin: 12px;
    padding: 10px;
    float: left;
    color: black;
    background-color: darkviolet;
    background-image: url(../../assets/main.png);
    background-size: 100% 100%;
  }
  .expDisp5 {
    width: 36%;
    height: 46%;
    border-radius: 25px;
    margin: 12px;
    float: left;
    padding: 10px;
    text-align: center;
    color: black;
    background-image: url(../../assets/main.png);
    background-size: 100% 100%;
  }
  .expDisp6 {
    width: 24%;
    height: 46%;
    border-radius: 25px;
    margin: 12px;
    float: left;
    padding: 10px;
    text-align: center;
    color: black;
    background-image: url(../../assets/main.png);
    background-size: 100% 100%;
  }
  .infodis {
    font-size: 16px;
  }

  .button{
    border: none;
  }
  
  .bgfull {
    background-image: url(../../assets/main.png);
    background-size:cover;
    height: 280px;
    background-size: 100% 100%;
  }

  .mainportion{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 200px;
    background-image: linear-gradient(to bottom, rgba(61, 61, 63, 0.8), rgb(30, 29, 31));
    margin-top: 120px;
    margin-left: 36px;
    padding: 20px;
    color: white;
  }

  .rightportion {
    margin-top: 50px;
    position: absolute;
    padding: 10px;
    right: 0;
    top: 0;
    height: 300px;
    width: 260px;
  }
  
  .entryScreen {
    width: 100%;
    height: 232px;
    margin: 10px;
    padding-right: 10px;
    background-image: url(../../assets/main.png);
  }

  .entryMenuDisplay {
    margin:10px;
    border-radius: 10%;
    width: 95%;
    height: 12%;
    left: 50%;
    background-image: url(../../assets/main.png);
    background-size: 100% 100%;
  }