<span *ngIf="!isScreenLarge()">
  <div class="entryScreen" style="margin:10px; padding: 10px;">
    <span (click)="showNav()"> <i class="fa fas fa-bars"></i> </span>
    <span *ngIf="smallNav">
    <div  style="background-color: rgb(35, 34, 46); width: 160px; height: 600px;position: absolute;">
      <app-common></app-common>
    </div>
  </span>
  <div>
    <h4>Amitha Raghava Raju</h4>
    <p style="font-size: 12px;margin:4px;">Specialist Software Engineer</p>
    <div style="background-color:rgba(211, 205, 205, 0.692);border-radius:10px;text-align: center; font-size: 9px;color: black;margin-left: 20px; width: 90%;">
      <p style="padding: 5px;"><b>I'm a software engineer, with 3.5+ years of experience, specialised in frontend and backend
          development for complex scalable web application. I have built numerous websites and corporate softwares. I am also
          passionate about Machine Learning and AI. <br/>
          Experiementer, Enthusiast & Engineer!<br/>
          Do checkout my project Portfolio and online resume.</b></p>
    </div>
    <div style="margin-right:10px;background-color: black;height: 432px;">
      <span style="left: 25%;">
      <button class="entryMenuDisplay" [routerLink]="['/professional']">
        <p style="font-size: 12px; margin: 0px; padding: 0px;"><b>Professional Experience</b></p>
        <p style="font-size: 10px; margin: 0px; padding: 0px;">
          Java, Angular, React, Spring Boot, NodeJs, Oracle, My SQL, .Net WebAPI, JavaScript, TypeScript
        </p>
      </button>
      <button class="entryMenuDisplay" [routerLink]="['/education']">
        <p style="font-size: 12px; margin: 0px; padding: 0px;"><b>Education</b></p>
        <p style="font-size: 10px; margin: 0px; padding: 0px;">
          <span>North Carolina State University</span> <br />
          <span>Sir M Visvesvaraya Institute of Technology</span></p>
      </button>
      <button class="entryMenuDisplay" [routerLink]="['/machinelearning']">
        <p style="font-size: 12px; margin: 0px; padding: 0px;"><b>Machine Learning</b></p>
        <p style="font-size: 10px; margin: 0px; padding: 0px;">
          Text Generation - Recurrent Neural Networks, Leaf-Wilt detection using CNN</p>
      </button>
      <button class="entryMenuDisplay">
        <p style="font-size: 12px; margin: 0px; padding: 0px;"><b>Skills</b></p>
        <p style="font-size: 10px; margin: 0px; padding: 0px;">Java, Spring Boot, JavaScript , TypeScript, Angular, Reactjs, Oracle DB, Nodejs, SQL, Python, R Language,  Tensorflow, Keras, C#, ASP.NET WebAPI, Karma, Jasmine, GIT, IIS, OAuth2.0, REST API, Visual Studio .Net, Webcomponents, Agile Methodology, Software Development Lifecycle</p>
      </button>
      <button class="entryMenuDisplay">
        <p style="font-size: 12px; margin: 0px; padding: 0px;"><b>Achievements</b></p>
        <p style="font-size: 10px; margin: 0px; padding: 0px;"> Star of Quarter, Secretary of IETE, Duke of Edinburgh Award</p>
      </button>
      <button class="entryMenuDisplay" [routerLink]="['/publications']">
        <p style="font-size: 12px; margin: 0px; padding: 0px;"><b>Publications</b></p>
        <p style="font-size: 10px; margin: 0px; padding: 0px;"> Fraud Detection in E-Commerce, Bitcoin Price Forecast</p>
      </button>
    </span>
    </div>
  </div>
</div>
</span>

<span *ngIf="isScreenLarge()">
<div class="split left">
  <app-common></app-common>
</div>

<div class="splitright right">
    <div class="bg">
    <div id="mainContainer">
        <div class="bgfull">
        <div class="columnl">
          <h2>Amitha Raghava Raju</h2>
          <p>Specialist Software Engineer</p>
          <div style="background-color:rgba(211, 205, 205, 0.692);border-radius:10px;opacity: 90%;text-align: center; font-size: 1.15vw;padding: 4px;color: black;margin-left: 30%; width: 90%;">
            <small><b>I'm a software engineer, with 3.5+ years of experience, specialised in frontend and backend
                development for complex scalable web application. I have built numerous websites and corporate softwares. I am also
                passionate about Machine Learning and AI. <br/>
                Experiementer, Enthusiast & Engineer!<br/>
                Do checkout my project Portfolio and online resume.</b></small>
          </div>
        </div>
        <div class="columnr">
          <img src="../assets/versallies.jpg" alt="Amitha" class="portrait">
          <div>
          </div>
        </div>
      </div>

      <div id="bottomContainer">
        <button class="expDisp1" [routerLink]="['/professional']">
          <h4 style="font-size: 1.7vw;">Professional Experience</h4>
          <hr>
          <p style="font-size: 1.3vw;">
            Angular, React, Spring Boot, NodeJs, Oracle, My SQL, .Net WebAPI, JavaScript, TypeScript
          </p>
        </button>
        <button class="expDisp3" [routerLink]="['/education']">
          <h4 style="font-size: 2vw;">Education</h4>
          <hr>
          <p style="font-size: 1.3vw;">
            <span>North Carolina State University</span> <br />
            <span>Sir M Visvesvaraya Institute of Technology</span>
          </p>
        </button>
        <button class="expDisp4" [routerLink]="['/machinelearning']">
          <h4 style="font-size: 2vw;">Machine Learning</h4>
          <hr>
          <p style="font-size: 1.3vw;">
            Text Generation - Recurrent Neural Networks, Leaf-Wilt detection using CNN
          </p>
        </button>
        <button class="expDisp5">
          <h5 style="font-size: 2vw;">Skills</h5>
          <hr>
          <p style="font-size: 0.9vw;">
            Java, Spring Boot, JavaScript , TypeScript, Angular, Reactjs, Oracle DB, Nodejs, SQL, Python, R Language,  Tensorflow, Keras, C#, ASP.NET WebAPI, Karma, Jasmine, GIT, IIS, OAuth2.0, REST API, Visual Studio .Net, Webcomponents, Agile Methodology, Software Development Lifecycle
          </p>
        </button>
        <button class="expDisp2">
          <h5 style="font-size: 2vw;">Achievements</h5>
          <hr>
          <p style="font-size: 1.2vw;">
            Star of Quarter<br />
            Secretary of IETE<br />
            Duke of Edinburgh Award
          </p>
        </button>
        <button class="expDisp6" [routerLink]="['/publications']">
          <h5 style="font-size: 2vw;">Publications</h5>
          <hr>
          <p style="font-size: 1.3vw;">
            Fraud Detection in E-Commerce<br />
            Bitcoin Price Forecast<br />
          </p>
        </button>
      </div>
    </div>
  </div>
</div>
</span>